@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.eec-theme {
  --background: 0 0% 100%;
  --foreground: 234 50% 17%;
  --card: 0 0% 100%;
  --card-foreground: 234 50% 17%;
  --popover: 0 0% 100%;
  --popover-foreground: 234 50% 17%;
  --primary: 234 50% 17%;
  --primary-foreground: 0 0% 99%;
  --secondary: 217 10% 50%;
  --secondary-foreground: 0 0% 99%;
  --muted: 0 0% 96%;
  --muted-foreground: 217 10% 40%;
  --accent: 39 44% 49%;
  --accent-foreground: 0 0% 99%;
  --destructive: 353 74% 50%;
  --destructive-foreground: 0 0% 99%;
  --border: 0 0% 87%;
  --input: 0 0% 87%;
  --ring: 234 50% 17%;
  --chart-1: 234 50% 30%;
  --chart-2: 39 44% 49%;
  --chart-3: 217 10% 50%;
  --chart-4: 225 50% 95%;
  --chart-5: 0 0% 96%;
  --sidebar-background: 0 0% 100%;
  --sidebar-foreground: 234 50% 17%;
  --sidebar-primary: 234 50% 17%;
  --sidebar-primary-foreground: 0 0% 99%;
  --sidebar-accent: 39 44% 49%;
  --sidebar-accent-foreground: 0 0% 99%;
  --sidebar-border: 0 0% 87%;
  --sidebar-ring: 234 50% 17%;
}

.eec-theme {
  font-family: Inter, sans-serif;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}
